body { margin: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

/* Layout rules */

.l-column-left {
  width: 25%;
  height: 100%;
  float: left;
}

.l-column-right {
  width: 75%;
  height: 100%;
  float: left;
}

.l-column-right > .b-section > .l-item {
  overflow: hidden;
}

.l-column-right > .b-section > .l-item > .l-left {
  float: left;
  width: 20%;
}

.l-column-right > .b-section > .l-item > .l-right {
  float: left;
}
.l-column-right > .b-section > .l-skills {
  width: 50%;
  float: left;
}
.l-column-right > .b-section > .l-languages {
  width: 50%;
  float: left;
}
/*
.l-valign-root:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  height: 100%;
}
*/
.l-valign-node {
  display: inline-block;
  vertical-align: middle;
  text-align:left;
}

.l-computer-skills{
  width : 50% ;

}


.b-bar-list {
  list-style-type: none;
}

.b-bar-list > .l-item > .l-label{
  width: 100px;
  float : left;
}

.b-bar-list > .l-item  .l-bar {
  vertical-align: middle;
  display: inline-block;
  width : 150px;
  background-color : #ccc;
  height: 1em;
}
 
.b-bar-list .l-progress-bar{
  display: inline-block;
  background-color : yellow;
  height : 100%;
  width: 10%;
}


.l-progress-bar.s-33{ width: 50px; }
.l-progress-bar.s-66 { width: 100px; }
.l-progress-bar.s-100 { width: 150px; }

/* Sementics rules */



.s-contact {
  background-color: #333;
  color: #fff;
  text-align: center;
}
.s-contact .s-title {
  writing-mode: sideways-lr;
  font-weight:bold;
  font-size:15px;
  height:60%;
}
.s-contact .s-fullname {
  margin-top: 20px;
  text-transform: uppercase;
  background-color: orange;
}
.s-contact > .s-postal-address {}
.s-contact  .s-age {}
.s-contact > .s-phone-number {}
.s-contact > .s-email {}

.b-section{
  border : solid 1px black;
  margin-bottom: 20px;
}

.s-title >.b-section{
    text-transform: uppercase;
    background-color: orange;
}  